themes {
    current {
        text_unselected {
            base 244 241 196
            background 95 95 102
            emphasis_0 207 149 132
            emphasis_1 255 227 86
            emphasis_2 255 198 111
            emphasis_3 255 152 151
        }
        text_selected {
            base 244 241 196
            background 95 95 102
            emphasis_0 207 149 132
            emphasis_1 255 227 86
            emphasis_2 255 198 111
            emphasis_3 255 152 151
        }
        ribbon_selected {
            base 95 95 102
            background 255 198 111
            emphasis_0 231 146 121
            emphasis_1 207 149 132
            emphasis_2 255 152 151
            emphasis_3 210 116 138
        }
        ribbon_unselected {
            base 95 95 102
            background 244 241 196
            emphasis_0 231 146 121
            emphasis_1 244 241 196
            emphasis_2 210 116 138
            emphasis_3 255 152 151
        }
        table_title {
            base 255 198 111
            background 0
            emphasis_0 207 149 132
            emphasis_1 255 227 86
            emphasis_2 255 198 111
            emphasis_3 255 152 151
        }
        table_cell_selected {
            base 244 241 196
            background 95 95 102
            emphasis_0 207 149 132
            emphasis_1 255 227 86
            emphasis_2 255 198 111
            emphasis_3 255 152 151
        }
        table_cell_unselected {
            base 244 241 196
            background 95 95 102
            emphasis_0 207 149 132
            emphasis_1 255 227 86
            emphasis_2 255 198 111
            emphasis_3 255 152 151
        }
        list_selected {
            base 244 241 196
            background 95 95 102
            emphasis_0 207 149 132
            emphasis_1 255 227 86
            emphasis_2 255 198 111
            emphasis_3 255 152 151
        }
        list_unselected {
            base 244 241 196
            background 95 95 102
            emphasis_0 207 149 132
            emphasis_1 255 227 86
            emphasis_2 255 198 111
            emphasis_3 255 152 151
        }
        frame_selected {
            base 255 198 111
            background 0
            emphasis_0 207 149 132
            emphasis_1 255 227 86
            emphasis_2 255 152 151
            emphasis_3 0
        }
        frame_highlight {
            base 207 149 132
            background 0
            emphasis_0 255 152 151
            emphasis_1 207 149 132
            emphasis_2 207 149 132
            emphasis_3 207 149 132
        }
        exit_code_success {
            base 255 198 111
            background 0
            emphasis_0 255 227 86
            emphasis_1 95 95 102
            emphasis_2 255 152 151
            emphasis_3 210 116 138
        }
        exit_code_error {
            base 231 146 121
            background 0
            emphasis_0 255 220 151
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 255 152 151
            player_2 210 116 138
            player_3 0
            player_4 255 220 151
            player_5 255 227 86
            player_6 0
            player_7 231 146 121
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
