/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #141520;
    --color01: #a5a6d0;
    --color02: #b7bae1;
    --color03: #c0c4ec;
    --color04: #a7aad5;
    --color05: #b0afda;
    --color06: #babde5;
    --color07: #c9cbe8;
    --color08: #626369;
    --color09: #c8c7fc;
    --color10: #c1c2ff;
    --color11: #caccff;
    --color12: #c7c9ff;
    --color13: #cdcaff;
    --color14: #c4c5ff;
    --color15: #d3d4ff;
}
